{{!-- <h6>Dashboard</h6> --}}
<h1>Hi {{name}}</h1>
<p>Here are the documents</p>
{{#if docs}}
<br>
<div class="input-field col s12">
  <input id="icon_prefix" type="text" class="validate">
  <label for="icon_prefix">Search {{name}} Documents</label>
</div>
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Reference No</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each docs}}
    <tr>
      <td><a href="/docs/{{_id}}" target="_blank">{{title}}</a></td>
      <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
      {{!-- <td><span class="dash-status">{{status}}</span></td> --}}
      <td><span class="dash-reference">NDIC/ETSD/{{reference}}/VOL.I/</span></td>

      <td>
        <a href="/docs/edit/{{_id}}" class="btn btn-float">
          <i class="fas fa-edit"></i>
        </a>

        <form action="/docs/{{_id}}" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn red">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>You have not added any documents</p>
{{/if}}

<script>

</script>
