<h2>ETSD DOCS</h2>

<body>
  <form action="/docs" method="GET" class="form-inline">
    <div>
      <input type="text" name="search" placeholder="Saerch all ETSD Documents" class="form-control">
      <input type="submit" value="search" class="btn btn-default">
    </div>
  </form>
  <br>
  <div class="row">
    {{#each docs}}
    <div class="col s12 m4" id="user">
      <div class="card">
        <div class="card-image">
          {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p>{{stripTags (truncate body 100)}}</p>
          <br>
          <div class="chip">
            <span class="dash-reference">NDIC/ETSD/{{reference}}/VOL.I/</span>
          </div>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/docs/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/docs/{{_id}}" class="btn blue">View</a>
        </div>
      </div>
    </div>
    {{else}}
    <p>No documents to display</p>
    {{/each}}
  </div>

</body>
